html {
  background-color: #A9F5A9;
}

header > h1 {
  font-size: 60px;
  color: #088A08;
}

p {
  font-size: 20px;
}

input {
  width: 300px;
  height: 40px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  border: solid 2px #088A08;
  border-radius: 12px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
}

div > ul {
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
}

.button {
  width: 60px;
  height: 60px;
  margin: 5px;
  border: solid 2px #088A08;
  border-radius: 12px;
  background-color: #EAEAEA;
}
.button:hover {
  top: -7px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.enterButton {
  width: 60px;
  height: 60px;
  margin: 5px;
  border: solid 2px #088A08;
  border-radius: 12px;
  background-color: #EAEAEA;
  color: green;
}
.enterButton:hover {
  top: -7px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.delButton {
  width: 60px;
  height: 60px;
  margin: 5px;
  border: solid 2px #088A08;
  border-radius: 12px;
  background-color: #EAEAEA;
  color: red;
}
.delButton:hover {
  top: -7px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
