html {
  background-color: #A9F5A9;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: stretch;
  align-items: stretch;
}

h1 {
  font-size: 40px;
  color: #088A08;
}

.selectBox {
  width: 210px;
  height: 60px;
  border: solid 2px black;
  border-radius: 12px;
  background-color: #0B0B3B;
  color: white;
  font-size: 20px;
  text-align: center;
}

input {
  width: 230px;
  height: 40px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  border: solid 2px lightgray;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
}

.inputButton > ul {
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
}

.button {
  width: 60px;
  height: 60px;
  margin:5px;
  border: solid 2px #088A08;
  border-radius: 12px;
  background-color: #EAEAEA;
}
.button:hover {
  top: -7px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.enterButton {
  width: 210px;
  height: 60px;
  margin:5px;
  border: solid 2px #088A08;
  border-radius: 12px;
  color: green;
  background-color: #EAEAEA;
}
.enterButton:hover {
  top: -7px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.delButton {
  width: 60px;
  height: 60px;
  margin:5px;
  border: solid 2px #088A08;
  border-radius: 12px;
  color: red;
  background-color: #EAEAEA;
}
.delButton:hover {
  top: -7px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.backButton {
  width: 90px;
  height: 60px;
  margin: 300px 70px 0px 0px;
  box-shadow: 1px 1px 1px black;
  border: solid 2px red;
  border-radius: 12px;
  background-color: #FA5858;
  color: white;
  position: fixed;
  left: 70vw;
}
.backButton:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: #CD3B3B;
}
