html {
  background-color: #A9F5A9;
}

header > h1 {
  font-size: 50px;
  color: #088A08;
}

header > h2 {
  font-size: 40px;
}

div > ul {
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
}

.yesButton {
  width: 90px;
  height: 60px;
  margin: 10px;
  box-shadow: 1px 1px 1px black;
  border: solid 2px #088A08;
  border-radius: 12px;
  font-size: 25px;
  background-color: green;
  color: white;
}
.yesButton:hover {
  top: -7px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #22741C;
}

.noButton {
  width: 90px;
  height: 60px;
  margin: 10px;
  box-shadow: 1px 1px 1px black;
  border: solid 2px red;
  border-radius: 12px;
  font-size: 25px;
  background-color: #FA5858;
  color: white;
}
.noButton:hover {
  top: -7px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #CD3B3B;
}
